<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.securitydemo.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.securitydemo.entity.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_key
    </sql>

    <select id="selectRolesByUserId" resultType="com.securitydemo.entity.SysRole">
        SELECT id,role_key from sys_role where id in (SELECT role_id from sys_user_role where user_id=#{userId})
    </select>
</mapper>
